*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Pixelify Sans', sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #0D1117;
  color: #E6EDF3;
}

input, textarea {
  font-family: 'Pixelify Sans', sans-serif;
}

.app .container {
  width: min(90%, 55rem);
  margin-inline: auto;
  text-align: center;
}

.app .container > *:not(:first-child){
  margin-top: 1.2em;
}

.app .container header h1 {
  padding-top: 1em;
  font-size: clamp(1.5rem, 1.5rem + 3vw, 3rem);
}

.app .container .phone-number {
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
  color: grey;
}

.shake {
  animation: shake 8s ease infinite;
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
	20%, 40%, 60%, 80% {transform: translateX(5px);}
}

@media (prefers-reduced-motion) {
  .shake {
    animation: none;
  }
}